[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "lib/SDL"]
	path = lib/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "lib/implot"]
	path = lib/implot
	url = git@github.com:epezent/implot.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/nativefiledialog"]
	path = lib/nativefiledialog
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "lib/faust"]
	path = lib/faust
	url = git@github.com:grame-cncm/faust.git
	branch = master-dev
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = git@github.com:mackron/miniaudio.git
	branch = dev
[submodule "lib/ImGuizmo"]
	path = lib/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "lib/nanosvg"]
	path = lib/nanosvg
	url = git@github.com:memononen/nanosvg.git
[submodule "lib/imspinner"]
	path = lib/imspinner
	url = git@github.com:dalerank/imspinner.git
[submodule "lib/date"]
	path = lib/date
	url = git@github.com:HowardHinnant/date.git
[submodule "lib/libnpy"]
	path = lib/libnpy
	url = git@github.com:llohse/libnpy.git
[submodule "lib/tetgen"]
	path = lib/tetgen
	url = git@github.com:libigl/tetgen.git
[submodule "lib/reactphysics3d"]
	path = lib/reactphysics3d
	url = git@github.com:DanielChappuis/reactphysics3d.git
	branch = develop
[submodule "lib/quickhull"]
	path = lib/quickhull
	url = git@github.com:akuukka/quickhull.git
[submodule "lib/OpenMesh"]
	path = lib/OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
