[submodule "app/lib/imgui"]
	path = app/lib/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "app/lib/SDL"]
	path = app/lib/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "app/lib/implot"]
	path = app/lib/implot
	url = git@github.com:epezent/implot.git
[submodule "app/lib/glm"]
	path = app/lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "app/lib/nativefiledialog"]
	path = app/lib/nativefiledialog
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "app/lib/faust"]
	path = app/lib/faust
	url = git@github.com:grame-cncm/faust.git
	branch = master-dev
[submodule "app/lib/miniaudio"]
	path = app/lib/miniaudio
	url = git@github.com:mackron/miniaudio.git
[submodule "app/lib/ImGuizmo"]
	path = app/lib/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "app/lib/nanosvg"]
	path = app/lib/nanosvg
	url = git@github.com:memononen/nanosvg.git
[submodule "app/lib/imspinner"]
	path = app/lib/imspinner
	url = git@github.com:dalerank/imspinner.git
[submodule "app/lib/cinolib"]
	path = app/lib/cinolib
	url = git@github.com:mlivesu/cinolib.git
[submodule "app/lib/earcut"]
	path = app/lib/earcut
	url = git@github.com:mapbox/earcut.hpp.git
[submodule "app/lib/CDT"]
	path = app/lib/CDT
	url = git@github.com:artem-ogre/CDT.git
[submodule "app/lib/date"]
	path = app/lib/date
	url = git@github.com:HowardHinnant/date.git
